@model KwikKwekSnack.Models.SnackViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Snack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Snack.Name" class="control-label"></label>
                <input asp-for="Snack.Name" class="form-control" />
                <span asp-validation-for="Snack.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snack.Description" class="control-label"></label>
                <input asp-for="Snack.Description" class="form-control" />
                <span asp-validation-for="Snack.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snack.StandardPrice" class="control-label"></label>
                <input asp-for="Snack.StandardPrice" class="form-control" />
                <span asp-validation-for="Snack.StandardPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Snack.ImageURL" class="control-label"></label>
                <input asp-for="Snack.ImageURL" class="form-control" />
                <span asp-validation-for="Snack.ImageURL" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="row">
                    @{
                        int i = 0;

                        foreach(var extra in Model.AssignedExtras)
                        {
                            if(i++ % 3 == 0)
                            {
                                @:</div><div class="row">
                            }
                            @:<div class="col-4">
                                <input type="checkbox"
                                    name="AvailableExtras"
                                    value="@extra.ExtraId"
                                    @(Html.Raw(extra.Assigned ? "checked=\"checked\"" : "")) />
                                @: @extra.Name
                            @:</div>
                        }                    
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
