@{
    ViewData["Title"] = "Success";
}

<div class="row-8">
    <h1>Uw order is succesvol geplaatst</h1>
</div>
<div class="row-4 mt-4">
    <a asp-area="" asp-controller="Home" asp-action="Index">Klik hier om terug te gaan naar de homepagina</a>
</div>
